// MAIN PAGE STYLES or index, if you prefer

.mainWelcome{
	@include outer-container;
	margin-top: 20vh;
	.bigTitle{
		@include span-columns(6);
		@include shift(3);
		img{
			@include span-columns(2);
			
		}
		h2{
			color: white;
			@include span-columns(10);
			display: inline;
			text-align: center;
			margin-top: 4%;
		}
	}
	.overview{
		color: black;
		@include span-columns(6);
		@include shift(3);
		p{
			margin-top: 3%;
			background: white;
			padding: 3%;
		}
	}
	.connect{
		@include span-columns(6);
		@include shift(3);

		.signUp{
			@include span-columns(4);
			float: left;
		}
		.learnMore{
			@include span-columns(4);
			float: right;
		}
	}
}