// MAIN PAGE STYLES or index, if you prefer

.mainWelcome{
	@include outer-container;
	margin-top: 20vh;
	.bigTitle{
		@include span-columns(6);
		@include shift(3);
		img{
			@include span-columns(2);
			
		}
		h2{
			color: white;
			@include span-columns(10);
			display: inline;
			text-align: right;

		}
		.connect{
			display: block;
			.signUp{
				float: left;
			}
			.learnMore{
				float: right;
			}
		}
	}
	.overview{
		background: white;
	}
}