// primary sass file for SnS
// begin imports

@import "normalize";

//bourbon and neat imports
@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";

@import "header";
@import "main";
@import "backgroundMovie";




// end imports

// global styles
body{
	background: black;
	padding-top: 60px; //change this when you have drop downs
	font-family: "Roboto", sans-serif;
	text-decoration: none;
}